<div class="column is-half">
    <% if user_signed_in? %>
    <article class="media box">
        <figure class="media-left">
            <p class="image is-64x64">
                <%= gravatar_image_tag(current_user.email, size: 64, alt: current_user.name ) %>
            </p>
        </figure>
        <div class="media-content">
            <%= render 'tweeps/form' %>
        </div>
    </article>
    <% end %>


<% @tweeps.each do | tweep | %>
    <div class="box">
        <article class="media">
            <div class="media-left">
                <figure class="image is-64x64">
                    <%= gravatar_image_tag(tweep.user.email, size: 64, alt: tweep.user.name ) %>
                </figure>
            </div>
            <div class="media-content">
                <div class="content">
                    <strong><%= tweep.user.name %></strong><br>
                    <small>@<%= tweep.user.username %></small><br>
                    <p><%= tweep.tweep %></p>
                </div>
                <% if user_signed_in? && current_user == tweep.user %>
                <nav class="level">
                    <div class="level-left is-mobile">
                        <%= link_to tweep, class: "level-item" do %>
                            <span class="icon"><i class="fa fa-link" aria-hidden="true"></i></span>     
                        <% end %>
                        <%= link_to edit_tweep_path(tweep), class: "level-item" do %>
                            <span class="icon"><i class="fa fa-pencil" aria-hidden="true"></i></span>     
                        <% end %>
                        <%= link_to tweep, method: :delete, data: { confirm: "Are you sure?" } do %>
                            <span class="icon"><i class="fa fa-trash-o" aria-hidden="true"></i></span>     
                        <% end %>
                    </div>
                </nav>
                <% end %>
            </div>
        </article>
    </div>
<% end %>

</div>